[submodule "task"]
	path = task
	url = https://github.com/minimum-hsu/docker-openfalcon-task
[submodule "fe"]
	path = fe
	url = https://github.com/minimum-hsu/docker-openfalcon-fe
[submodule "mysql"]
	path = mysql
	url = https://github.com/minimum-hsu/docker-openfalcon-mysql
[submodule "build"]
	path = build
	url = https://github.com/minimum-hsu/docker-openfalcon-build
[submodule "sender"]
	path = sender
	url = https://github.com/minimum-hsu/docker-openfalcon-sender.git
	branch = send2qq
[submodule "alarm"]
	path = alarm
	url = https://github.com/minimum-hsu/docker-openfalcon-alarm.git
	branch = send2qq
[submodule "judge"]
	path = judge
	url = https://github.com/minimum-hsu/docker-openfalcon-judge
[submodule "hbs"]
	path = hbs
	url = https://github.com/minimum-hsu/docker-openfalcon-hbs
[submodule "transfer"]
	path = transfer
	url = https://github.com/minimum-hsu/docker-openfalcon-transfer
[submodule "portal"]
	path = portal
	url = https://github.com/minimum-hsu/docker-openfalcon-portal
[submodule "query"]
	path = query
	url = https://github.com/minimum-hsu/docker-openfalcon-query
[submodule "graph"]
	path = graph
	url = https://github.com/minimum-hsu/docker-openfalcon-graph
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/minimum-hsu/docker-openfalcon-dashboard
[submodule "links"]
	path = links
	url = https://github.com/minimum-hsu/docker-openfalcon-links
[submodule "agent"]
	path = agent
	url = https://github.com/minimum-hsu/docker-openfalcon-agent.git
[submodule "docker-compose"]
	path = docker-compose
	url = https://github.com/minimum-hsu/docker-compose-openfalcon.git
